.form-container {
  position: fixed;
  top: 0;
  left: 1%;
}

.input-container p {
  justify-self: center;
  margin-bottom: 0.25rem;
}

.input-container h3 {
  justify-self: center;
  margin-bottom: 0.25rem;
}

.input-container input {
  margin-bottom: 2rem;
}